<?xml version="1.0" encoding="utf-8" ?>  
<configuration>
  <appSettings>  
    <add key="JwtIssuer" value="shiningdev"/>  
    <add key="JwtAudience" value="shiningdevBackend"/>
    <add key="JwtPath" value="Cert/shiningdev.pfx"/>
    <add key="JwtPassword" value="shiningdev"/>
    <add key="AzureEndpoint" value=""/>
    <add key="AzureKey" value=""/>
    <add key="OpenAiKey" value=""/>
    <add key="OpenAIEndpoint" value=""/>
  </appSettings>  
</configuration>